<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="de.abilov.tgg.bpmn2useCase.Bpmn2useCasePackage" genModel="model/Bpmn2useCase.genmodel" uri="platform:/plugin/de.abilov.tgg.bpmn2useCase/model/Bpmn2useCase.ecore"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="de.abilov.tgg.bpmn2useCase.Rules.RulesPackage" genModel="model/Bpmn2useCase.genmodel" uri="platform:/plugin/de.abilov.tgg.bpmn2useCase/model/Bpmn2useCase.ecore#//Rules"/>
  </extension>
</plugin>
